@import '../../vars.css';

.container{
    width: 1211px;
    height: 639px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    z-index: 1;
    margin-top: 25px;
    margin: 115px 115px;
    background: rgba(12, 12, 12, 0.60);;
    border-radius: 15px;
    padding: 40px 40px;
}

.aboutItems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image{
    width: 562px;
    height: 562px;
    flex-shrink: 0;
}

.title{
    color:var(--color-text);
    font-family: Outfit;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.25px;
}

.informationItems{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}