/*Variables helps us define some properties by default in a single place, and import them to use them in another places, making easier change the value later*/
:root {
    /*Colors*/
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152b;

    /*Fonts*/
    --font-roboto: "Roboto";
}